<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://myshoes.vn/image/catalog/logo/logo-myshoes-nho.png"
      rel="icon"
    />
    <title>Giày Adidas Chính Hãng | Myshoes.vn</title>
    <link rel="stylesheet" href="/Public/Icons/fontawesome/css/all.min.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/Public/Css/Client/base/reset.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/Public/Css/Client/base/root.css"
    />
    <link rel="stylesheet" href="/Public/Css/Client/Effects/hover.css" />
    <link rel="stylesheet" href="/Views/Client/detail/detail.css" />
  </head>

  <body>
    <div class="site-wrapper">
      <header class="header">
        <div class="header-wrapper">
          <div class="header-navbar">
            <div class="logo-wrapper">
              <a href>
                <img
                  src="https://static.ybox.vn/2022/5/1/1653287716717-LOGO%20XGEAR%20FINAL%20black.png"
                  alt
                  class="logo-img"
                />
              </a>
            </div>
            <form class="search-wrapper" action method="POST">
              <input type="text" name="by" placeholder="Tìm kiếm sản phẩm..." />
              <button type="submit" class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
            <div class="classic-wrapper">
              <div class="accounts">
                <a href="?controller=login&action=login" class="accounts-link">
                  <i class="fa-solid fa-user"></i>
                  <div class="links-text">
                    <span>Tài khoản</span>
                    <span>Đăng nhập/ Đăng ký</span>
                  </div>
                </a>
                <div class="dropdown-menu-accounts">
                  <span class="login"
                    ><i class="fa-solid fa-arrow-right-to-bracket"></i>Đăng
                    nhập</span
                  >
                  <span class="logout"
                    ><i
                      class="fa-sharp fa-solid fa-arrow-right-from-bracket"
                    ></i
                    >Đăng ký</span
                  >
                </div>
                <!-- <a href='?controller=login&action=login' class='accounts-link'>
                                        <i class='fa-solid fa-user'></i>
                                        <div class='links-text'>
                                            <span>Tài khoản</span>
                                            <span>Chỉnh sửa / Thoát</span>
                                        </div>
                                    </a>
                                    <div class='dropdown-menu-accounts logined'>
                                        <span class='login'><i class='fa-solid fa-user'></i>Tài khoản của tôi</span>
                                        <span class='logout'><a href='?controller=admin'>&diams; Trang quản trị</a></span>
                                        <span class='logout'><i class='fa-solid fa-cart-shopping'></i>Đơn hàng của tôi</span>
                                        <span class='exit'><i class='fa-solid fa-arrow-right-to-bracket'></i><a href='?controller=login&action=logout'>Thoát</a></span>
                                    </div> -->
              </div>
              <div class="cart">
                <a href="?redirect=cart" class="cart-link hvr-icon-grow">
                  <i class="fa fa-shopping-cart"></i>
                </a>
                <span class="quantity">!</span>
                <div class="cart-empty">
                  <span>Không có sản phẩm trong giỏ hàng!</span>
                </div>

                <!-- <div class="cart-products">
                                <div class="list-products-cart">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="td-img" scope="row">
                                                    <img src="https://myshoes.vn/image/cache/catalog/2023/lacoste/112/giay-lacoste-powercourt-1121-nam-den-01-60x60.jpg" alt="">
                                                </td>
                                                <td class="td-name hvr-grow">
                                                    <a>Giày Lacoste PowerCourt 1121 Nam - Đen</a>
                                                    <p>Chọn size nam: 39.5</p>
                                                </td>
                                                <td class="td-quantity">x1</td>
                                                <td class="td-total">2.690.000₫</td>
                                            </tr>
                                            <tr>
                                                <td class="td-img" scope="row">
                                                    <img src="https://myshoes.vn/image/cache/catalog/2023/lacoste/112/giay-lacoste-powercourt-1121-nam-den-01-60x60.jpg" alt="">
                                                </td>
                                                <td class="td-name hvr-grow">
                                                    <a>Giày Lacoste PowerCourt 1121 Nam - Đen</a>
                                                    <p>Chọn size nam: 39.5</p>
                                                </td>
                                                <td class="td-quantity">x1</td>
                                                <td class="td-total">2.690.000₫</td>
                                            </tr>
                                            <tr>
                                                <td class="td-img" scope="row">
                                                    <img src="https://myshoes.vn/image/cache/catalog/2023/lacoste/112/giay-lacoste-powercourt-1121-nam-den-01-60x60.jpg" alt="">
                                                </td>
                                                <td class="td-name hvr-grow">
                                                    <a>Giày Lacoste PowerCourt 1121 Nam - Đen</a>
                                                    <p>Chọn size nam: 39.5</p>
                                                </td>
                                                <td class="td-quantity">x1</td>
                                                <td class="td-total">2.690.000₫</td>
                                            </tr>
                                            <tr>
                                                <td class="td-img" scope="row">
                                                    <img src="https://myshoes.vn/image/cache/catalog/2023/lacoste/112/giay-lacoste-powercourt-1121-nam-den-01-60x60.jpg" alt="">
                                                </td>
                                                <td class="td-name hvr-grow">
                                                    <a>Giày Lacoste PowerCourt 1121 Nam - Đen</a>
                                                    <p>Chọn size nam: 39.5</p>
                                                </td>
                                                <td class="td-quantity">x1</td>
                                                <td class="td-total">2.690.000₫</td>
                                            </tr>
                                            <tr>
                                                <td class="td-img" scope="row">
                                                    <img src="https://myshoes.vn/image/cache/catalog/2023/lacoste/112/giay-lacoste-powercourt-1121-nam-den-01-60x60.jpg" alt="">
                                                </td>
                                                <td class="td-name hvr-grow">
                                                    <a>Giày Lacoste PowerCourt 1121 Nam - Đen</a>
                                                    <p>Chọn size nam: 39.5</p>
                                                </td>
                                                <td class="td-quantity">x1</td>
                                                <td class="td-total">2.690.000₫</td>
                                            </tr>
                                            <tr>
                                                <td class="td-img" scope="row">
                                                    <img src="https://myshoes.vn/image/cache/catalog/2023/lacoste/112/giay-lacoste-powercourt-1121-nam-den-01-60x60.jpg" alt="">
                                                </td>
                                                <td class="td-name hvr-grow">
                                                    <a>Giày Lacoste PowerCourt 1121 Nam - Đen</a>
                                                    <p>Chọn size nam: 39.5</p>
                                                </td>
                                                <td class="td-quantity">x1</td>
                                                <td class="td-total">2.690.000₫</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cart-totals">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td scope="row" style="width: 70%;">Thành tiền</td>
                                                <td>11.150.000₫</td>
                                            </tr>
                                            <tr>
                                                <td scope="row" style="width: 70%;">Tổng cộng</td>
                                                <td>11.150.000₫</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="cart-buttons">
                                        <button type="button" class="btn btn-light"><a>XEM GIỎ HÀNG</a></button>
                                        <button type="button" class="btn btn-danger"><a>THANH TOÁN</a></button>
                                    </div>
                                </div>
                            </div> -->
              </div>
            </div>
          </div>
          <div class="menu-wrapper">
            <div class="menu-default">
              <ul class="main-menu">
                <li class="menu-item hvr-float-shadow position-relative">
                  <a href class="item-link">
                    <span class="item-name">Laptop Văn Phòng</span>
                  </a>
                  <div class="sub-menu position-absolute w-100">
                    <ul class="list-group">
                      <li class="list-group-item p-2">Laptop Asus</li>
                      <li class="list-group-item p-2">Laptop Dell</li>
                      <li class="list-group-item p-2">Laptop Lenovo</li>
                      <li class="list-group-item p-2">Laptop HP</li>
                      <li class="list-group-item p-2">ALaptop Acer</li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item hvr-float-shadow position-relative">
                  <a href class="item-link">
                    <span class="item-name">Laptop Gaming & Đồ Họa</span>
                  </a>
                  <div class="sub-menu z-3 position-absolute w-100 text-center">
                    <ul class="list-group">
                      <li class="list-group-item p-2">Dell Gaming</li>
                      <li class="list-group-item p-2">Asus Gaming</li>
                      <li class="list-group-item p-2">Acer Gaming</li>
                      <li class="list-group-item p-2">MSI Gaming</li>
                      <li class="list-group-item p-2">HP Gaming</li>
                      <li class="list-group-item p-2">Lenovo Gaming</li>
                      <li class="list-group-item p-2">GigabyteGaming</li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item hvr-float-shadow position-relative">
                  <a href class="item-link">
                    <span class="item-name">SP Microsoft Surface</span>
                  </a>
                  <div class="sub-menu z-3 position-absolute w-100 text-center">
                    <ul class="list-group">
                      <li class="list-group-item p-2">Surface Pro</li>
                      <li class="list-group-item p-2">Surface Laptop</li>
                      <li class="list-group-item p-2">Surface Book</li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item hvr-float-shadow position-relative">
                  <a href class="item-link">
                    <span class="item-name">Sản Phẩm Apple</span>
                  </a>
                  <div class="sub-menu z-3 position-absolute w-100 text-center">
                    <ul class="list-group">
                      <li class="list-group-item p-2">Macbook Air</li>
                      <li class="list-group-item p-2">Macbook Pro</li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item hvr-float-shadow position-relative">
                  <a href class="item-link">
                    <span class="item-name">Linh Kiện Laptop</span>
                  </a>
                  <div class="sub-menu z-3 position-absolute w-100 text-center">
                    <ul class="list-group">
                      <li class="list-group-item p-2">Bộ Nhớ RAM</li>
                      <li class="list-group-item p-2">Ổ Cứng SSD</li>
                      <li class="list-group-item p-2">Ổ Cứng HDD</li>
                      <li class="list-group-item p-2">Webcam</li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item hvr-float-shadow position-relative">
                  <a href class="item-link">
                    <span class="item-name">Phụ Kiện Laptop</span>
                  </a>
                  <div class="sub-menu z-3 position-absolute w-100 text-center">
                    <ul class="list-group">
                      <li class="list-group-item p-2">Balo Laptop</li>
                      <li class="list-group-item p-2">Túi Chống Sốc</li>
                      <li class="list-group-item p-2">Pin Laptop</li>
                      <li class="list-group-item p-2">Bàn Phím Laptop</li>
                      <li class="list-group-item p-2">HP Gaming</li>
                      <li class="list-group-item p-2">Sạc Nguồn Laptop</li>
                      <li class="list-group-item p-2">Đế Tản Nhiệt</li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item hvr-float-shadow position-relative">
                  <a href class="item-link">
                    <span class="item-name">Gaming Gear</span>
                  </a>
                  <div class="sub-menu z-3 position-absolute w-100 text-center">
                    <ul class="list-group">
                      <li class="list-group-item p-2">Bàn Phím</li>
                      <li class="list-group-item p-2">Tai Nghe</li>
                      <li class="list-group-item p-2">Chuột</li>
                      <li class="list-group-item p-2">Pad Chuột</li>
                      <li class="list-group-item p-2">Bàn, Ghế</li>
                      <li class="list-group-item p-2">Tay Cầm Chơi Game</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="body">
        <div class="row g-0">
          <div class="col-12">
            <div class="content">
              <div class="product-info">
                <div class="product-left">
                  <div class="product-img">
                    <img
                      src="https://xgear.net/wp-content/uploads/2022/12/Laptop-Gaming-Asus-TUF-F15-FX507ZC-HN124W.jpg"
                      alt
                    />
                  </div>
                  <div class="product-banner">
                    <img
                      src="https://myshoes.vn/image/cache/catalog/2023/banner/sale/sieu-sale-nho-3.3-690x305.png"
                      alt
                    />
                  </div>
                </div>
                <div class="product-right">
                  <div class="product-name">
                    Laptop Gaming Asus TUF F15 FX507ZC-HN124W i7 RTX3050
                  </div>
                  <div class="product-rating">
                    <div class="rating-stars">
                      <i class="rated fa-sharp fa-solid fa-star"></i>
                      <i class="rated fa-sharp fa-solid fa-star"></i>
                      <i class="rated fa-sharp fa-solid fa-star"></i>
                      <i class="fa-sharp fa-solid fa-star"></i>
                      <i class="fa-sharp fa-solid fa-star"></i>
                    </div>
                    <div class="rating-reviews">đánh giá</div>
                  </div>
                  <div class="countdown-wrapper">
                    <h5 class="countdown-title">
                      ⚡ GIÁ SALE HAPPY WOMEN'S DAY 4.3 - 8.3 ⚡
                    </h5>
                    <div class="countdown">
                      <div class="days">
                        <span></span>
                        <span>Ngày</span>
                      </div>
                      <div class="hours">
                        <span></span>
                        <span>Giờ</span>
                      </div>
                      <div class="minutes">
                        <span></span>
                        <span>Phút</span>
                      </div>
                      <div class="seconds">
                        <span></span>
                        <span>Giây</span>
                      </div>
                    </div>
                  </div>
                  <div class="product-price-group">
                    <div class="price-wrapper">
                      <div class="product-price-new hvr-float">17.000.000₫</div>
                      <div class="product-old-new">17.000.000₫</div>
                    </div>
                    <div class="product-stats">
                      <div class="product-stocks">
                        <i class="fa-solid fa-check"> </i> Kho hàng:
                        <b> Còn hàng </b>
                      </div>
                      <div class="product-model">
                        <i class="fa-solid fa-circle"></i>
                        Mã sản phẩm:
                        <span>MSN1030</span>
                      </div>
                      <div class="product-brand">
                        <img
                          src="https://myshoes.vn/image/cache/data/logo/nike-70x70w.png"
                          alt
                        />
                      </div>
                    </div>
                  </div>
                  <form class="product-options">
                    <div class="options-title">Chọn size</div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name
                        id
                        value
                      />
                      <label class="form-check-label hvr-glow" for></label>
                    </div>
                    <div class="tutorial-size">Hướng dẫn chọn size</div>
                    <div class="button-group-page">
                      <div class="product-quantity">
                        <input
                          name="quantity"
                          type="number"
                          min="1"
                          max="9"
                          step="1"
                          value="1"
                        />
                        <span class="plus hvr-fade-for-icon">+</span>
                        <span class="minus hvr-fade-for-icon">-</span>
                      </div>
                      <button class="button-cart hvr-sweep-to-right">
                        <a>THÊM VÀO GIỎ</a>
                      </button>
                      <button class="button-buy hvr-sweep-to-left">
                        <a>MUA HÀNG NGAY</a>
                      </button>
                    </div>
                    <div class="hotline hvr-shrink">
                      Hotline:<span> 0973 711 868</span>
                    </div>
                    <div class="content-top">
                      <ul class="list-group list-group-horizontal">
                        <li class="list-group-item list-group-item--2">
                          <i class="fa-solid fa-circle-check"></i>
                          <span>Hàng chính hãng, chât lượng cao</span>
                        </li>
                        <li class="list-group-item list-group-item--2">
                          <i class="fa-solid fa-rotate"></i>
                          <span>Đổi hàng 30 ngày, thủ tục đơn giản</span>
                        </li>
                        <li class="list-group-item list-group-item--2">
                          <i class="fa-solid fa-truck"></i>
                          <span>Miễn phí giao hành với đơn > 500k</span>
                        </li>
                      </ul>
                    </div>
                  </form>
                </div>
              </div>
              <div class="product-tabs">
                <div class="row g-0">
                  <div class="col-12">
                    <div class="tab-container">
                      <ul class="nav-tabs">
                        <li class="tab-item tab--active">
                          <span>MÔ TẢ SẢN PHẨM</span>
                        </li>
                        <li class="tab-item"><span>ĐÁNH GIÁ</span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="tab-pane show">
                      <p>
                        một mẫu giày thể thao đa dụng, thiết kế gọn gàng mang
                        lại cảm giác cực kỳ tự nhiên khi sử dụng. Trọng lượng
                        siêu nhẹ, chất liệu êm ái giúp bạn di chuyển cả ngày mà
                        không mệt mỏi.
                      </p>
                      <h4>
                        tại Myshoes.vn được nhập khẩu chính hãng. Full box, đầy
                        đủ phụ kiện.
                      </h4>
                      <div class="detail-img">
                        <img src=" alt="">
                        <img src alt />
                        <img src alt />
                        <img src alt />
                        <img src alt />
                      </div>
                      <p style="color: red">* Myshoes.vn cam kết:</p>
                      <p>
                        - chính hãng 100%. Phát hiện hàng Fake đền tiền gấp 2
                        lần giá sản phẩm.
                      </p>
                      <p>
                        - Myshoes.vn miễn phí giao hàng toàn quốc (với đơn hàng
                        từ 500.000 vnđ).
                      </p>
                      <p>- Đổi hàng trong 30 ngày đơn giản dễ dàng</p>
                      <p style="color: red">* Cách thức mua hàng:</p>
                      <p>
                        - Khách hàng tiến hành MUA HÀNG trực tiếp trên website
                        hoặc gọi điện tới Hotline: 0973 711 868 để được tư vấn.
                      </p>
                      <p>
                        - Khách hàng sẽ nhận được sản phẩm sau 1 - 3 ngày kể từ
                        khi đặt hàng.
                      </p>
                      <p style="color: red">* Thông tin liên hệ Myshoes.vn:</p>
                      <p>+ Showroom: 249 Xã Đàn, Hà Nội.</p>
                      <p>
                        + Điện thoại: 0903 479 488 / Hotline: 0973 711 868
                        (Zalo, Viber)
                      </p>
                      <p>+ Email: cskh@myshoes.vn</p>
                      <p>+ Website: https://myshoes.vn</p>
                    </div>
                    <div class="tab-pane">
                      <div class="text-alert">
                        Không có đánh giá cho sản phẩm này
                      </div>
                      <div class="mb-3">
                        <input
                          type="text"
                          class="form-control"
                          id="exampleFormControlInput1"
                          placeholder="Tên bạn"
                        />
                      </div>
                      <div class="mb-3">
                        <textarea
                          class="form-control"
                          id="exampleFormControlTextarea1"
                          rows="3"
                          placeholder="Đánh giá của bạn"
                        ></textarea>
                      </div>
                      <div class="text-note">
                        Lưu ý: <span> Không hỗ trợ HTML!</span>
                      </div>
                      <button type="button" class="btn btn-primary w-100">
                        TIẾP TỤC
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="footer">
          <div class="footer-wrapper">
            <div class="row g-0">
              <div class="col-6">
                <div class="title-module">
                  <h3 class="title-register">ĐĂNG KÝ NHẬN THÔNG TIN</h3>
                  <p>
                    Đăng ký ngay để được cập nhật sớm nhất những thông tin hữu
                    ích, ữu đãi vô cùng hấp dẫn và những món quà bất ngờ từ
                    Myshoes.vn!
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="newsletter-form">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control newsletter-email"
                      placeholder="Nhập email của bạn "
                    />
                    <div class="input-group-append d-flex">
                      <button class="btn btn-danger btn-register" type="button">
                        <i class="fa-solid fa-envelope"></i>Đăng Ký
                      </button>
                    </div>
                  </div>
                  <div class="form-check mt-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value
                      id="flexCheckChecked"
                    />
                    <label class="form-check-label" for="flexCheckChecked">
                      Tôi đã đọc và đồng ý với <span>Chính sách bảo mật</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="footer-wrapper">
            <div class="row g-0 mt-3">
              <div class="col-5">
                <div class="block-address">
                  <h3>LAPTOP CHÍNH HÃNG</h3>
                  <div class="block-header">
                    <img
                      src="https://xgear.net/wp-content/uploads/2023/06/Logo-Xgear-300.png"
                      alt
                    />
                    <div class="block-wrapper">
                      <span
                        >Website được định hướng trở thành hệ thống thương mại
                        điện tử bán giày chính hãng hàng đầu Việt Nam.</span
                      >
                      <span>Showroom: 249 Xã Đàn, Đống Đa, Hà Nội</span>
                      <span>Hotline: 0973711868</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2-3">
                <div class="about-us">
                  <h3>VỀ CHÚNG TÔI</h3>
                  <ul>
                    <li>
                      <a style="color: #fff" href="?redirect=about"
                        >Giới thiệu</a
                      >
                    </li>
                    <li><a>Điều khoản sử dụng</a></li>
                    <li><a>Chính sách bảo mật</a></li>
                    <li><a>Tin tức myshoes</a></li>
                    <li><a>Cơ hội việc làm</a></li>
                    <li><a>Liên hệ</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-2-3">
                <div class="about-us">
                  <h3>KHÁCH HÀNG</h3>
                  <ul>
                    <li><a>Hướng dẫn mua hàng</a></li>
                    <li><a>Chính sách đổi trả</a></li>
                    <li><a>Chính sách bảo hành</a></li>
                    <li><a>Khách hàng thân thiết</a></li>
                    <li><a>Hướng dẫn chọn size</a></li>
                    <li><a>Chương trình khuyến mại</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-2-3">
                <div class="about-us certificate">
                  <h3>KHÁCH HÀNG</h3>
                  <div class="certificate-img">
                    <img
                      src="https://images.dmca.com/Badges/DMCA_logo-grn-btn150w.png?ID=1ed4cd9e-5ee4-4b63-95dc-c70388edd3cb"
                      alt
                    />
                    <img
                      src="https://myshoes.vn/image/catalog/logo/logo-bct.png"
                      alt
                      width="60%"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="footer-wrapper">
            <div class="copyright">Copyright © 2023 Mygroup Tech.,JSC</div>
          </div>
        </div>
      </footer>
    </div>

    <script src="/Public/Js/Client/showImage.js"></script>
    <script src="/Public/Js/Client/handleSlideShow.js"></script>
    <script src="/Public/Js/Client/setCountdown.js"></script>
    <script src="/Public/Js/Client/handleUITabs.js"></script>
    <script src="/Public/Js/Client/handleQuantity.js"></script>
    <script src="/Public/Js/Client/handleCardSlider.js"></script>
    <script src="/Public/Js/Client/toogleListProduct.js"></script>
    <script src="/Views/Client/detail/handleCheckboxSize.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
